
@{
	ViewBag.Title = "Anasayfa";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
	<h2>Ana Sayfa - @ViewBag.CompanyList.Name</h2>
</header>

<!-- start: page -->
<div class="row">

	<div class="col-lg-12 col-xl-12 mb-5">
		<div class="accordion accordion-primary" id="accordion2Primary">
			<div class="card card-default">
				<div class="card-header">
					<h4 class="card-title m-0">
						<a class="accordion-toggle" data-toggle="collapse"
						   data-parent="#accordion2Primary" href="#collapse2PrimaryOne"
						   aria-expanded="true">
							Günlük Veri Arama
						</a>
					</h4>
				</div>
				<div id="collapse2PrimaryOne" class="collapse" style="">
					<div class="card-body">
						<form class="form-inline">

							<div class="form-check mb-2 mr-sm-2 mb-sm-0">
								<label class="form-check-label">
									Yandaki formdan tarih seçerek verileri getirebilirsiniz
								</label>
							</div>

							<input type="date" class="form-control mb-2 mr-sm-2 mb-sm-0"
								   id="inlineFormInputName2">

							<button type="submit" class="btn btn-primary">Getir</button>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>


	<div class="col-md-12">
		<section class="card">
			<header class="card-header">
				<div class="card-actions">
					<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
					<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
				</div>

				<h2 class="card-title">Ürün Ekle</h2>
			</header>
			<div class="card-body">
				<form class="form-horizontal form-bordered" action="#">

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Platform Kodu</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="Tr Farmina"
								   required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">
							Satıcı ve Satıcı
							Kodu
						</label>
						<div class="col-lg-6">
							<select data-plugin-selectTwo class="form-control populate" name="">
								<option value="">Ali (108)</option>
								<option value="">Selman (921)</option>
								<option value="">İnan (4324)</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Belge Tarihi</label>
						<div class="col-lg-6">
							<input type="date" class="form-control" name="" placeholder="" required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Belge Tipi</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="Invoice"
								   required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Belge Numarası</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="333" required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">
							Müşteri Kodu ve Firma
							İsmi
						</label>
						<div class="col-lg-6">
							<select data-plugin-selectTwo class="form-control populate" name="">
								<option value="">Sinuos Yazılım (34.1.C008)</option>
								<option value="">Facebook (31.2.C128)</option>
								<option value="">Google (38.6.D108)</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Verigi Numarası</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="13542138123"
								   required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Ülke Kodu</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="TUR" required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Bölge Kodu</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="34.1" required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Posta Kodu</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="34595"
								   required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Şehir</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="İstanbul"
								   required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Adres</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="Çekmece"
								   required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Ürün Kodu</label>
						<div class="col-lg-6">
							<select multiple data-plugin-selectTwo class="form-control populate">
								<option value="">PLD15000231</option>
								<option value="">PDL15200211</option>
								<option value="">PWQ23520211</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Barkod</label>
						<div class="col-lg-6">
							<select multiple data-plugin-selectTwo class="form-control populate">
								<option value="">54623453234</option>
								<option value="">23436414256</option>
								<option value="">64523423745</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Ürün İsmi</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="N&D PRIME CAD"
								   required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Adet</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="55" required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Ürün Fiyat</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="152" required>
						</div>
					</div>


					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">İndirim Oranı</label>
						<div class="col-lg-6">
							<select data-plugin-selectTwo class="form-control populate" name="">
								<option value="">25+2+0+0</option>
								<option value="">14+10+5+0</option>
							</select>
						</div>
					</div>


					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">İndirim Miktarı</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="481.23" required>
						</div>
					</div>


					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Toplam KDV Hariç</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="1552" required>
						</div>
					</div>


					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Toplam KDV Dahil</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="1582.43" required>
						</div>
					</div>


					<div class="form-group row">
						<label class="col-lg-3 control-label text-lg-right pt-2">Doviz Tipi</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="TRY" required>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-lg-6">
							<button class="btn btn-primary float-right" type="submit">Kaydet</button>
						</div>
					</div>

				</form>
			</div>
		</section>
	</div>


	<div class="col-md-12">
		<br><br><br>
		<hr>
		<h4>Buradan Aşağısı Kullanacağın Kodlar</h4>
		<button id="open" class="mt-3 mb-3 btn btn-primary">Loading</button>
		<p>(theme.js dosyasında)</p>
		<br>
	</div>

	<div class="col-md-12">
		<section class="card">
			<header class="card-header">
				<div class="card-actions">
					<a href="#" class="card-action card-action-toggle" data-card-toggle=""></a>
					<a href="#" class="card-action card-action-dismiss" data-card-dismiss=""></a>
				</div>

				<h2 class="card-title">Örnek Notifike</h2>
			</header>
			<div class="card-body">
				<button id="default-primary" class="mt-3 mb-3 btn btn-primary">Primary</button>
				<button id="default-notice" class="mt-3 mb-3 btn btn-warning">Warning</button>
				<button id="default-success" class="mt-3 mb-3 btn btn-success">Success</button>
				<button id="default-info" class="mt-3 mb-3 btn btn-info">Info</button>
				<button id="default-error" class="mt-3 mb-3 btn btn-danger">Error</button>
				<button id="default-dark" class="mt-3 mb-3 btn btn-dark">Dark</button>
			</div>
		</section>
	</div>
</div>
<!-- end: page -->