
@{
	/**/

	/**/

	ViewBag.Title = "Anasayfa";
	Layout = "~/Views/Shared/_Layout.cshtml";


	var voucherNo = (int)ViewBag.VoucherNo;
	voucherNo = voucherNo > 0 ? (voucherNo + 1) : 0;
}

<header class="page-header">
	<h2>Ana Sayfa</h2>
</header>

<!-- start: page -->
<div class="row">

	<div class="col-lg-12 col-xl-12 mb-5">
		<div class="accordion accordion-primary" id="accordion2Primary">
			<div class="card card-default">
				<div class="card-header">
					<h4 class="card-title m-0">
						<a class="accordion-toggle" data-toggle="collapse"
						   data-parent="#accordion2Primary" href="#collapse2PrimaryOne"
						   aria-expanded="true">
							Günlük Veri Arama
						</a>
					</h4>
				</div>
				<div id="collapse2PrimaryOne" class="collapse" style="">
					<div class="card-body">
						<form class="form-inline" id="dailyInvoices">

							<!--todo: Ali burada ingilizce geliyor gunler aylar TR olsun-->
							<div class="col-lg-6">
								<div class="input-group">
									<span class="input-group-prepend">
										<span class="input-group-text">
											<i class="fas fa-calendar-alt"></i>
										</span>
									</span>
									<input type="text" data-plugin-datepicker class="form-control" id="reportVoucherDate">
								</div>
							</div>
							<button type="button" id="btnGetAllDailyInvoices" class="btn btn-primary">Günlük Rapor Al</button>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-12">
		<section class="card">
			<header class="card-header">
				<div class="card-actions">
					<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
					<a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
				</div>

				<h2 class="card-title">Ürün Ekle</h2>
			</header>
			<div class="card-body">
				<form class="form-horizontal form-bordered" id="saveVoucher">

					<div class="form-group row">
						<label class="col-lg-2 control-label pt-2">Platform Kodu</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="txtPlatformCode" placeholder="Tr Farmina" value="TR Farmina" required id="txtPlatformCode">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-2 control-label pt-2">Belge Tarihi</label>

						<div class="col-lg-6">
							<div class="input-group">
								<span class="input-group-prepend">
									<span class="input-group-text">
										<i class="fas fa-calendar-alt"></i>
									</span>
								</span>
								<input type="text" data-plugin-datepicker class="form-control" id="voucherDate">
							</div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-2 control-label pt-2">Belge Tipi</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="Invoice" value="Invoice" required id="txtVoucherType">
						</div>
					</div>

					<div class="form-group row">
						<!--todo: alttaki label icinde parantez icinde olan uyari mesaji uygun bir sekilde yerlestirilecek.-->
						<label class="col-lg-2 control-label pt-2">Belge Numarası (Yalniz rakam giriniz!!!)</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="333" value="@voucherNo" required id="txtVoucherNo">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-2 control-label pt-2">
							Müşteri Ara
						</label>
						<div class="col-lg-5">
							<select data-plugin-selectTwo class="form-control populate ddlCustomers" name="" id=""></select>
						</div>
						<div class="col-lg-1">
							<button class="btn btn-primary btn-block" type="button" id="btnAddCustomer">Ekle</button>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-2 control-label pt-2">Vergi Numarası</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="13542138123" id="txtTax" required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-2 control-label pt-2">Ülke Kodu</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="TUR" id="txtCountryCode" required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-2 control-label pt-2">Bölge Kodu</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="34.1" id="txtRegionCode" required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-2 control-label pt-2">Posta Kodu</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="34595" id="txtZipCode" required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-2 control-label  pt-2">Şehir</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="İstanbul" id="txtCity" required>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-2 control-label pt-2">Adres</label>
						<div class="col-lg-6">
							<input type="text" class="form-control" name="" placeholder="Çekmece" id="txtAddress" required>
						</div>
					</div>

					<div class="form-group row">
						<!--todo: Ali parantez ici uyari-->
						<label class="col-lg-2 control-label pt-2">Vergi Oranı (tam sayi girilmeli)</label>
						<div class="col-lg-6">
							<input type="number" class="form-control" name="txtTax" placeholder="" value="18" id="txtTax" required>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-2 control-label pt-2">
							Satıcı Ara
						</label>
						<div class="col-lg-5">
							<select data-plugin-selectTwo class="form-control populate ddlSuppliers" name="" id=""></select>
						</div>
						<div class="col-lg-1">
							<button class="btn btn-primary btn-block" type="button" id="btnAddSupplier">Ekle</button>
						</div>
					</div>

					<div class="row form-group">
						<label class="col-lg-2"></label>

						<div class="col-lg-3">
							<div class="form-group">
								<label class="col-form-label" for="formGroupExampleInput">Satıcı Adı</label>
								<input type="text" class="form-control" id="txtSupplierName" placeholder="">
							</div>
						</div>
						<div class="col-lg-3">
							<div class="form-group">
								<label class="col-form-label" for="formGroupExampleInput">Satıcı Kodu</label>
								<input type="text" class="form-control" id="txtSupplierCode" placeholder="">
							</div>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-2 control-label pt-2">Ürün Ara</label>
						<div class="col-lg-5">
							<select multiple data-plugin-selectTwo class="form-control populate ddlProduct" id=""></select>
						</div>
						<div class="col-lg-1">
							<button class="btn btn-primary btn-block" type="button" id="btnAddProduct">Ekle</button>
						</div>
					</div>

					<div class="eklenen-urunler">
					</div>

					<div class="form-group row">
						<div class="col-lg-6">
							<button class="btn btn-default btn-edit" type="submit">Kaydet</button>
						</div>
						<div class="col-lg-6">
							<p class="total-text">Toplam Fatura Tutarı KDV Dahil: <strong style="font-size:large;" id="totalPriceOfTheVoucher">0</strong><strong style="font-size:large;">TL</strong></p>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</div>
<!-- end: page -->
@section scripts{

	<script type="text/javascript">

		$(document).ready(function () {
			select2Search('ddlProduct', '/home/searchproducts');
			select2Search('ddlCustomers', '/home/searchcustomers');
			select2Search('ddlSuppliers', '/home/searchsuppliers');
			//select2Search('ddlDiscount', '/home/searchdiscount');
			//
			//
			saveVoucher();
			//
			//add products
			addNewProducts();
			//
			getCustomerById();
			//
			getSupplierById();
			//
			removeProduct();
			//
			downloadVouchers();
			//
			//removeVoucher();
			//$("body").on('DOMSubtreeModified', ".eklenen-urunler", function () {
			//	//console.log(true);
			//});

			//$('.eklenen-urunler').bind('DOMNodeInserted DOMNodeRemoved', function () {
			//	console.log(false);
			//});


		});



		function getCustomerById() {

			$('#btnAddCustomer').click(function (e) {
				e.preventDefault();
				showLoading();
				//
				var customerId = $('.ddlCustomers').val();
				//
				$.get('/home/getcustomer', { id: customerId }, function (data) {
					$('#txtTax').val(data.TaxNumber);
					$('#txtCountryCode').val(data.Country);
					$('#txtRegionCode').val(data.Region);
					$('#txtZipCode').val(data.ZipCode);
					$('#txtCity').val(data.City);
					$('#txtAddress').val(data.Address);
				}).done(function (response) {
					hideLoading();

				});
			});
		}
		//
		function getSupplierById() {

			$('#btnAddSupplier').click(function (e) {
				e.preventDefault();
				showLoading();
				//
				var supplierId = $('.ddlSuppliers').val();
				//
				$.get('/home/getsupplier', { id: supplierId }, function (data) {
					//console.log(data);
					$('#txtSupplierName').val(data.Name);
					$('#txtSupplierCode').val(data.Code);
				}).done(function (response) {
					hideLoading();
				});
			});
		}
		//
		function addNewProducts() {
			$('#btnAddProduct').click(function (e) {
				e.preventDefault();

				//
				var listIndex = $('.products-list-index').last().val() || 0;
				var productIds = $('.ddlProduct').val();

				if (!productIds) {
					showNotify(false, "Ürün seçiniz önce lütfen");
					return false;
				}
				//
				//check it if products already added
				var pIds = [];
				$('.eklenen-urunler div[class*=urun-liste]').each(function (index, element) {
					var elementId = $(element).find('#product-elementId').val();
					var productId = $(element).find('input[name=productid-' + elementId + ']').val();
					pIds.push(productId);
				});

				var inList = productIds.filter(x => pIds.includes(x));
				if (inList.length > 0) {
					showNotify(false, "Eklenmiş ürünleri tekrar ekleyemezseniz. Lütfen adetlerini değiştirin.");
					for (var i = 0; i < inList.length; i++) {
						productIds.splice(productIds.indexOf(inList[i]), 1);
					}
				}

				if (productIds.length <= 0) {
					showNotify(false, "Yeni eklenecek ürün bulunamadı");
					return false;
				}

				/* url and querystring change */
				var url = '/home/addproducts';
				url = updateQueryStringParameter("productIds", productIds, url);
				url = updateQueryStringParameter("listIndex", listIndex, url);
				//
				showLoading();
				$.get(url, function (data) {
					//
					$('.eklenen-urunler').append(data);
				}).done(function (response) {
					hideLoading();
					$('.ddlDiscount').select2();
					calculateTotalPriceOfTheVoucher();
				});
			});
		}
		//
		function removeProduct() {
			$(document).on('click', '.delete', function (e) {
				e.preventDefault();
				var elemetenId = $(this).attr('deleteproduct');
				$('.urun-liste-' + elemetenId).remove();
			});
		}

		//
		function calculateTotalPriceOfTheVoucher() {

			if ($('.eklenen-urunler').find('.priceWithTax').length <= 0) {
				return false;
			}
			//
			var price = 0;
			$('.eklenen-urunler').find('.priceWithTax').each(function (index, element) {
				price += parseFloat($(element).text().replace(',', '.'));
			});
			//
			var $totalPrice = $('#totalPriceOfTheVoucher');
			$totalPrice.html("");
			$totalPrice.html(price.toFixed(2));
		}
		//

		//
		function saveVoucher() {
			$('#saveVoucher').submit(function (e) {
				e.preventDefault();

				var platformCode = $('#txtPlatformCode').val();
				if (!platformCode) {
					showNotify(false, "Platfrom kodu boş bırakalamaz");
					return false;
				}
				var voucherDate = $('#voucherDate').val();
				if (!voucherDate) {
					showNotify(false, "Belge tarihi boş bırakalamaz");
					return false;
				}
				var voucherType = $('#txtVoucherType').val();
				if (!voucherType) {
					showNotify(false, "Belge tipi boş bırakalamaz");
					return false;
				}
				var voucherNo = $('#txtVoucherNo').val();
				if (!voucherNo) {
					showNotify(false, "Belge numarası boş bırakalamaz");
					return false;
				}
				var customerId = $('.ddlCustomers').val();
				if (!customerId) {
					showNotify(false, "Lütfen müşteri seçiniz ");
					return false;
				}
				var supplierId = $('.ddlSuppliers').val();
				if (!supplierId) {
					showNotify(false, "Lütfen satıcı seçiniz");
					return false;
				}
				//
				if ($('.eklenen-urunler div[class*=urun-liste]').length <= 0) {
					showNotify(false, "Lütfen ürün ekleyin");
					return false;
				}

				var taxPercent = $('input[name=txtTax]').val() || 0;
				//
				showLoading();
				//
				var products = [];
				//
				$('.eklenen-urunler div[class*=urun-liste]').each(function (index, element) {
					var elementId = $(element).find('#product-elementId').val();
					var productName = $(element).find('input[name=productName-' + elementId + ']').val();
					if (!productName) {
						showNotify(false, "Ürün ismi boş olamaz");
						return false;
					}

					var productPrice = $(element).find('input[name=productPrice-' + elementId + ']').val();
					if (!productPrice) {
						showNotify(false, "Ürün fiyatı boş olamaz");
						return false;
					} else if (parseFloat(productPrice.replace(',', '.')) <= 0) {
						showNotify(false, "Ürün fiyatı sıfırdan büyük olmalı");
						return false;
					}

					var productQuantity = $(element).find('input[name=productQuantity-' + elementId + ']').val();
					if (!productQuantity) {
						showNotify(false, "Ürün adeti boş olamaz");
						return false;
					} else if (parseInt(productQuantity) <= 0) {
						showNotify(false, "Ürün adeti sıfırdan büyük olmalı");
						return false;
					}

					var productId = $(element).find('input[name=productid-' + elementId + ']').val();

					var pd = $(element).find('.productDiscount-' + elementId).find('.ddlDiscount').val().split('|');
					var productDiscount = pd[1]
					var productDiscountName = pd[0];
					//
					var product = {};
					product.ProductId = productId;
					product.ProductName = productName;
					product.ProductPrice = productPrice;
					product.ProductQuantity = productQuantity;
					product.ProductDiscount = productDiscount;
					product.ProductDiscountName = productDiscountName;
					products.push(product);
				});

				//
				var parameters = {};
				parameters.CustomerId = customerId;
				parameters.SupplierId = supplierId;
				parameters.PlatformCode = platformCode;
				parameters.VoucherDate = voucherDate;
				parameters.VoucherNo = voucherNo;
				parameters.TaxPercent = taxPercent;
				parameters.Products = products;
				//
				var params = JSON.stringify({ model: parameters });
				//
				$.ajax({
					url: '/home/savevoucher',
					type: 'POST',
					data: params,
					dataType: 'json',
					contentType: "application/json; charset=utf-8",
					success: function (data) {
						if (data.Status) {
							clearForm();
							$('#txtVoucherNo').val(data.EntityId);
						}
						showNotify(data.Status, data.Message);
					},
					error: function (e) {
						showNotify(data.Status, data.Message);
					},
					beforeSend: function (e) {
						showLoading();
					},
					complete: function (e) {
						hideLoading();
					}
				});
			});
		}
		//
		//reset all form
		function clearForm() {
			//reset form
			$('#saveVoucher')[0].reset();
			//clear added products
			$('.eklenen-urunler').html('');
			//clear select2
			$('.ddlProduct,.ddlCustomers,.ddlSuppliers').val('').trigger('change');
		}
		//
		//download voucher
		function downloadVouchers() {

			$('#btnGetAllDailyInvoices').click(function (e) {
				e.preventDefault();
				//
				//
				var voucherDate = $('#reportVoucherDate').val();
				if (!voucherDate) {
					showNotify(false, "Lütfen tarih seçiniz...");
					return false;
				}
				//
				showLoading();
				//
				var url = '/voucher/createvoucher';
				$.get(url, { date: voucherDate }, function (data) {
					//
					if (data.Status) {
						/* url and querystring change */
						url = '/download/vouchers';
						url = updateQueryStringParameter("filePath", data.Message, url);

						//onclick="(function(_this){_this.parentNode.removeChild(_this);})(this);"
						$('#dailyInvoices').find('.download-voucher').remove();
						$('#dailyInvoices').append('&nbsp;<a href="' + url + '" class="btn btn-default btn-edit download-voucher" onclick="(function(_this){_this.parentNode.removeChild(_this);})(this);">İndir</a>');
					} else {
						showNotify(data.Status, data.Message);
					}

				}).done(function (response) {
					hideLoading();
				});

			});

		}

		function removeVoucher() {
			$(document).on('click', '.download-voucher', function () {
				setTimeout(3000, function () {
					var filePath = $(this).attr('path');
					var url = '/vouchers/remove';
					url = updateQueryStringParameter("filePath", filePath, url);
					$.get(url, function (data) {
						//
						if (data.Status) {
							showNotify(data.Status, data.Message);
						} else {
							showNotify(data.Status, data.Message);
						}
					});

					$(this).remove();
					//
					//$.ajax({
					//	url: url,
					//	type: "GET",
					//	quietMillis: 50,
					//	delay: 3000,
					//	data: { filePath: filePath },
					//	success: function (data) {
					//		if (data.Status) {
					//			showNotify(data.Status, data.Message);
					//		} else {
					//			showNotify(data.Status, data.Message);
					//		}
					//	}
					//});
				});
				//url = updateQueryStringParameter("filePath", data.Message, url);
				//$.get(url, function (data) {
				//	//
				//	if (data.Status) {
				//		showNotify(data.Status, data.Message);
				//	} else {
				//		showNotify(data.Status, data.Message);
				//	}
				//});
			});
		}

	</script>
}