
@{
	Layout = null;
}
<!doctype html>
<html class="fixed">
<head>

	<!-- Basic -->
	<meta charset="UTF-8">

	<title>Farmina</title>
	<meta name="keywords" content="Farmina" />
	<meta name="description" content="Farmina">
	<meta name="author" content="Ali Evdi - sinuos">
	<!-- Google no index -->
	<meta name="robots" content="noindex, nofollow">
	<meta name="googlebot" content="noindex">
	<meta name="googlebot-news" content="nosnippet">
	<meta name="googlebot-news" content="noindex" />

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- Web Fonts  -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="/Asset/vendor/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" href="/Asset/vendor/animate/animate.css">

	<link rel="stylesheet" href="/Asset/vendor/font-awesome/css/fontawesome-all.min.css" />
	<link rel="stylesheet" href="/Asset/vendor/magnific-popup/magnific-popup.css" />
	<link rel="stylesheet" href="/Asset/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

	<!-- Theme CSS -->
	<link rel="stylesheet" href="/Asset/css/theme.css" />

	<!-- Skin CSS -->
	<link rel="stylesheet" href="/Asset/css/skins/default.css" />

	<!-- Theme Custom CSS -->
	<link rel="stylesheet" href="/Asset/css/custom.css">

	<!-- Head Libs -->
	<script src="/Asset/vendor/modernizr/modernizr.js"></script>

</head>
<body>
	<!-- start: page -->
	<section class="body-sign">
		<div class="center-sign">
			<a href="index.html" class="logo float-left">
				<img src="/Asset/img/logo.png" height="75" alt="Farmina" />
			</a>

			<div class="panel card-sign">
				<div class="card-title-sign mt-3 text-right">
					<h2 class="title text-uppercase font-weight-bold m-0"><i class="fas fa-user mr-1"></i> GİRİŞ</h2>
				</div>
                <div class="card-body">
                    <p class="text-danger">@Html.ValidationMessage("ErrorMessage")</p>
                    <form action="/Account/Login" method="post">
                        <div class="form-group mb-3">
                            <label>Kullanıcı Adı</label>
                            <div class="input-group">
                                <input name="Username" type="text" class="form-control form-control-lg" />
                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <div class="clearfix">
                                <label class="float-left">Şifre</label>
                            </div>
                            <div class="input-group">
                                <input name="Password" type="Password" class="form-control form-control-lg" />
                                <span class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8">

                            </div>
                            <div class="col-sm-4 text-right">
                                <button type="submit" class="btn btn-primary mt-2">Giriş Yap</button>
                       
                            </div>
                        </div>
                    </form>
                </div>
			</div>

			<p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2019. <a href="http://sinuos.net/" target="_blank">Sinuos.net</a></p>
		</div>
	</section>
	<!-- end: page -->
	<!-- Vendor -->
	<script src="/Asset/vendor/jquery/jquery.js"></script>
	<script src="/Asset/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
	<script src="/Asset/vendor/popper/umd/popper.min.js"></script>
	<script src="/Asset/vendor/bootstrap/js/bootstrap.js"></script>
	<script src="/Asset/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="/Asset/vendor/common/common.js"></script>
	<script src="/Asset/vendor/nanoscroller/nanoscroller.js"></script>
	<script src="/Asset/vendor/magnific-popup/jquery.magnific-popup.js"></script>
	<script src="/Asset/vendor/jquery-placeholder/jquery-placeholder.js"></script>

	<!-- Theme Base, Components and Settings -->
	<script src="/Asset/js/theme.js"></script>

	<!-- Theme Custom -->
	<script src="/Asset/js/custom.js"></script>

	<!-- Theme Initialization Files -->
	<script src="/Asset/js/theme.init.js"></script>
</body>
</html>